/***FONT****/
@font-face {
    font-family: Coluna;
    src: url('../fonts/ColunaCondensedBold.ttf'); 
   }
@font-face {
    font-family:Din;
    src: url('../fonts/dinProCondensedRegular.otf'); 
   }
.roboto{font-family: 'Roboto', sans-serif;}
 .din{
 	font-family: Din;
 }
 .coluna{
 	font-family: Coluna;
 }
/***FONT****/
body{background-color: #152938;}
a:hover,
a:focus,
a:visited,
a:active{
	text-decoration: none;
}

.main{
	height: 100vh;
    min-height: 470px;
    .parallax {
	    position: absolute;
	    width: 100%;
	    height:100vh;
	    overflow: hidden;
	    left: 0;
		.parallax__layer_one {
			position: absolute;
		    width: 100%;
		    height: 100vh;
		    left:0;
		    top: 5%;
		    background-position: center top;
		    background-size: cover;
		    background-repeat: no-repeat;
		    background-image: url('../img/parallax/parallax-layer.png');
		}
		.parallax__layer_two {
			position: absolute;
		    width: 100%;
		    height: 100vh;
		    left:3%;
		    top: 0;
		    background-position: center top;
		    background-size: contain;
		    background-repeat: no-repeat;
		    background-image: url('../img/parallax/parallax-layer1.png');
		}
	}
}

header{
	margin-top: 40px;
	.logotype{
		text-transform: uppercase;
		.logo__text{
			display: inline-flex;
		    flex-flow: column wrap;
		    justify-content: space-between;
		    vertical-align: middle;
		    h2{
		    	.coluna;
		    	font-weight: bolder;
		    	font-size: 24px;
		    	color: #FFF;
		    	margin: 0;
    			letter-spacing: 5px;
		    }
		    span{
		    	.din;
		    	font-size: 13px;
		    	color: #FFF;
    			letter-spacing: 4px;
			    position: relative;
			    right: 12px;
		    }
		}
	}
	.contact__header{
		display: flex;
	    flex-flow: row wrap;
	    justify-content: flex-end;
		.contact__figure{
			height: 100%;
			width: 100%;
			text-align: center;
			min-height: 45px;
			max-width: 45px;
			background-image: url('../img/figure.png');
			background-repeat: no-repeat;
			i{
				margin-top: 14px;
    			margin-right: 6px;
			}
		}
		.contact__number{
			margin-left: 10px;
			line-height: 20px;
			a{
				color: #FFF;
				font-size: 20px;
				.roboto;
			}
			p{
				.din;
				font-weight: bolder;
				color: #02F1F3;
				font-size: 19px;
				text-transform: uppercase;
				letter-spacing: 3px;
				margin: 0;
			}
		}
	}
}
#content{
	.bg__lion{
		height: 100vh;
		max-height: 370px;
		margin-top: 80px;
		background-position: center right;
		background-repeat: no-repeat;
		background-size: contain;
		background-image: url('../img/lion.png');
	}
	.info__block{
		h2{
			.din;
			line-height: 65px;
		    font-weight: bolder;
		    font-size: 59px;
		    color: #FFF;
		    margin:0px 0 15px 0;
		}
		.holder {
		    overflow: hidden;
		    position: relative;
		    width: 100%;
		    max-width: 90px;
		    height: 10px;
		    margin-bottom: 15px;
		    .smallLine {
			    position: absolute;
			    width: 100%;
		    	max-width: 90px;
			    height: 10px;
			}

			.smallLine1 {
			    background: linear-gradient(-45deg, transparent, transparent 49%, #0fcfd1 49%, transparent 51%);
			}
			.smallLine2 {
			    background: linear-gradient(45deg, transparent, transparent 49%, #0fcfd1 49%, transparent 51%);
			}
			.smallLine {
			    background-size: 20px 20px;
			}
		}
		p{
			.roboto;
			font-size: 20px;
			color: #FFF;
			margin-bottom: 15px;
		}
		.btn__download{
			height: 100%;
			width: 100%;
			max-width: 307px;
			min-height: 120px;
			display: block;
			padding: 45px 0;
			text-align: center;
			.din;
			font-size: 19px;
			font-weight: bolder;
			color: #FFF;
			text-transform: uppercase;
			letter-spacing: 2px;
			background-image: url('../img/bgButton.png');
			background-repeat: no-repeat;
		}
	}
	.btn__portfolio{
		-moz-transform: rotate(-180deg);
	    -webkit-transform: rotate(-180deg);
	    -o-transform: rotate(-180deg);
	    writing-mode: tb-rl;
	    height: 100%;
	    max-height: 400px;
	    display: block;
	    text-align: left;
	    .din;
	    text-transform: uppercase;
	    color: #0DEBF3;
	    font-size: 19px;
	}
}

@media(min-width:0px) and (max-width:320px) {
	.main{
	    .parallax {
		    display: none;
		}
	}
	header{
		margin-top: 20px;
		.logotype{
			text-align: center;
			margin-bottom: 20px;
			.logo__text{
			    h2{
			    	text-align: left;
			    }
			}
		}
		.contact__header{
			margin: 30px 0px;
		    justify-content: center;
			.contact__number{
				p{
					text-align: center;
				}
			}
		}
	}
	#content{
		.bg__lion{
			margin-top: 20px;
			background: none;
		}
		.info__block{
			h2{
				font-size: 24px;
			    line-height: 28px;
			    text-align: center;
			    margin-bottom: 30px;
			}
			.holder {
			    max-width: none;
			    .smallLine {
				    max-width: none;
				}
			}
			p{
				font-size: 16px;
			    text-align: center;
			    margin: 20px 0;
			}
			.btn__download{
				max-width: none;
			    min-height: auto;
			    padding: 10px 0;
			    margin-bottom: 20px;
				background-image:none;
				background-color: #129F6A;
			}
		}
		.btn__portfolio{
			-moz-transform:none;
		    -webkit-transform:none;
		    -o-transform:none;
		    writing-mode: initial;
		    text-align: center;
		}
	}	
}

@media(min-width:321px) and (max-width:480px) {
	.main{
	    .parallax {
		    display: none;
		}
	}
	header{
		margin-top: 20px;
		.logotype{
			text-align: center;
			margin-bottom: 20px;
			.logo__text{
			    h2{
			    	text-align: left;
			    }
			}
		}
		.contact__header{
			margin: 30px 0px;
		    justify-content: center;
			.contact__number{
				p{
					text-align: center;
				}
			}
		}
	}
	#content{
		.bg__lion{
			margin-top: 20px;
			background: none;
		}
		.info__block{
			h2{
				font-size: 24px;
			    line-height: 28px;
			    text-align: center;
			    margin-bottom: 30px;
			}
			.holder {
			    max-width: none;
			    .smallLine {
				    max-width: none;
				}
			}
			p{
				font-size: 16px;
			    text-align: center;
			    margin: 20px 0;
			}
			.btn__download{
				max-width: none;
			    min-height: auto;
			    padding: 10px 0;
			    margin-bottom: 20px;
				background-image:none;
				background-color: #129F6A;
			}
		}
		.btn__portfolio{
			-moz-transform:none;
		    -webkit-transform:none;
		    -o-transform:none;
		    writing-mode: initial;
		    text-align: center;
		}
	}	
}

@media(min-width:481px) and (max-width:768px) {
	.col-md-3{
		width: 49.9%;
	    float: left;
	    padding-right: 0px;
	    padding-left: 0px;
	}
	.main{
	    .parallax {
		    display: none;
		}
	}
	header{
		margin-top: 20px;
		.contact__header{
			margin: 0px;
			.contact__number{
				a{
					font-size: 16px;
				}
			}
		}
	}
	#content{
		.bg__lion{
			margin-top: 20px;
			background: none;
		}
		.info__block{
			h2{
				font-size: 20px;
			    line-height: 28px;
			    text-align: center;
			    margin: 30px 0;
			}
			.holder {
			    max-width: none;
			    .smallLine {
				    max-width: none;
				}
			}
			p{
				font-size: 16px;
			    text-align: center;
			    margin: 20px 0;
			}
			.btn__download{
				margin: 20px auto;
			}
		}
		.btn__portfolio{
			-moz-transform:none;
		    -webkit-transform:none;
		    -o-transform:none;
		    writing-mode: initial;
		    text-align: center;
		}
	}	
}

@media(min-width:769px) and (max-width:992px) {
	.col-md-3{
		width: 49.9%;
	    float: left;
	    padding-right: 0px;
	    padding-left: 0px;
	}
	.main{
		.parallax {
		.parallax__layer_one {
			background-repeat: repeat;
    		background-position: center left;
		}
		.parallax__layer_two {
			background-repeat: no-repeat;
			background-position: center top;
		}
	}
	}
	header{
		margin-top: 20px;
		.contact__header{
			margin: 0px;
			.contact__number{
				a{
					font-size: 16px;
				}
			}
		}
	}
	#content{
		.bg__lion{
			margin-top: 20px;
			background: none;
		}
		.info__block{
			h2{
				font-size: 20px;
			    line-height: 28px;
			    text-align: center;
			    margin: 30px 0;
			}
			.holder {
			    display: none;
			}
			p{
				font-size: 16px;
			    text-align: center;
			    margin: 20px 0;
			}
			.btn__download{
				margin: 20px auto;
			}
		}
		.btn__portfolio{
			-moz-transform:none;
		    -webkit-transform:none;
		    -o-transform:none;
		    writing-mode: initial;
		    text-align: center;
		}
	}	
}

@media(min-width:993px) and (max-width:1200px) {
	.col-md-3 {
		width: 49.9%;
		float: left;
		padding-right: 0;
		padding-left: 0;
		margin: 0;
	}
	.main{
		.parallax {
			.parallax__layer_one {
				left:0;
			    top: 0%;
			    background-position: center top;
			}
			.parallax__layer_two {
				left:0%;
			    top: 0;
			    background-position: center top;
			}
		}
	}
	header{
		margin-top: 20px;
	}
	#content{
		.bg__lion{
			margin-top: 40px;
		}
		.info__block{
			h2{
				text-align: center;
	    		font-size: 32px;
	    		line-height: 36px;
			}
			.holder {
			    max-width: none;
			    .smallLine {
			    	max-width: none;
				}
			}
			p{
				text-align: center;
			}
		}
	}	
}



